<div id="html" v-cloak>

  <p>Estimado Administrador de Ninesselas</p>
  <br/>
  <p><%=recipientName%>, quiere contactarse contigo</p>
  <br/>
  <p>Escribió: <%=recipientText%></p>
  <br/>
  <p>Estos son sus datos de contacto:</p>
  <br/>
  <p><%=recipientName%></p>
  <p>Teléfono: <%=recipientPhone%>,</p>
  <p>Correo: <%=recipientEmail%>,</p>

</div>



